<nz-space class="col-md-12">
  <nz-card class="col-md-12">
    <h2>{{pageTitle}}</h2>
  </nz-card>
</nz-space>
<nz-space [nzDirection]="'vertical'" style="margin-left:10px;" class="col-md-12">
  <nz-anchor class="wizard">
    <nz-badge style="margin-left:10px">
      <a [routerLink]="['info']" routerLinkActive="active">
        <span nz-icon nzType="info-circle" nzTheme="outline"
          [style.color]="!dataIsValid['info'] ? 'red' : 'blue'"
        ></span>
        Basic Information
      </a>
    </nz-badge>
    &nbsp;
    <nz-badge>
      <a [routerLink]="['tags']" routerLinkActive="active">
        <span nz-icon nzType="tags" nzTheme="outline"
        [style.color]="!dataIsValid['tags'] ? 'red' : 'blue'"></span>
        Search Tags
      </a>
    </nz-badge>
  </nz-anchor>
  <br>
  <nz-space [nzDirection]="'vertical'" [nzAlign]="'center'" style="margin-left:10px" class="col-md-12">
    <router-outlet></router-outlet>
    <nz-button-group style="margin-top:10px;">
      <button nz-button nzType="primary" type="button" title="Save your entered data"
        (click)="saveProduct()" [disabled]="!isValid()">Save</button>
      <button nz-button type="button" title="Cancel your edits" [routerLink]="product!.id != 0 ? ['/products', product!.id] : ['/products']">Cancel</button>
      <button nz-button nzDanger type="button" title="Delete this product"
        (click)="deleteProduct()" [routerLink]="['/products']">Delete</button>
    </nz-button-group>
  </nz-space>
</nz-space>

<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>
