<nz-space
  [nzDirection]="'vertical'"
  style="margin-left: 10px"
  [nzAlign]="'center'" [nzWrap]="true"
  class="col-md-10"
>
  <nz-card *nzSpaceItem zTitle="Basic Product Information">
    <div *ngIf="product">
      <form nz-form #productForm="ngForm" [nzLayout]="'inline'">
        <fieldset>
          <nz-form-item>
            <nz-form-label for="productNameId">Product Name</nz-form-label>
            <nz-form-control [nzXs]="24">
              <input
                nz-input
                id="productNameId"
                type="text"
                placeholder="Name (required)"
                required
                minlength="3"
                [(ngModel)]="product.productName"
                name="productName"
                #productNameVar="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (productNameVar.touched ||
                      productNameVar.dirty ||
                      product.id !== 0) &&
                    !productNameVar.valid
                }"
              />
              <span class="invalid-feedback">
                <span *ngIf="productNameVar.errors?.['required']">
                  Product name is required.
                </span>
                <span *ngIf="productNameVar.errors?.['minlength']">
                  Product name must be at least three characters.
                </span>
              </span>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label for="productCodeId">Product Code</nz-form-label>
            <nz-form-control [nzXs]="24">
              <input
                nz-input
                id="productCodeId"
                type="text"
                placeholder="Code (required)"
                required
                [(ngModel)]="product.productCode"
                name="productCode"
                #productCodeVar="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (productCodeVar.touched ||
                      productCodeVar.dirty ||
                      product.id !== 0) &&
                    !productCodeVar.valid
                }"
              />
              <span class="invalid-feedback">
                <span *ngIf="productCodeVar.errors?.['required']">
                  Product code is required.
                </span>
              </span>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label for="descriptionId">Description</nz-form-label>
            <nz-form-control [nzXs]="24">
              <textarea
                nz-input
                id="descriptionId"
                placeholder="Description"
                rows="3"
                cols="50"
                [(ngModel)]="product.description"
                name="description"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </fieldset>
      </form>
    </div>
  </nz-card>
</nz-space>
<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
