<nz-space
  [nzDirection]="'vertical'"
  style="margin-left: 10px"
  [nzAlign]="'center'"
  [nzWrap]="true"
  class="col-md-10"
>
  <nz-card *nzSpaceItem nzTitle="Product Search Tags">
    <div *ngIf="product">
      <form nz-form [nzLayout]="'inline'">
        <fieldset>
          <nz-form-item>
            <nz-form-label for="categoryId">Category</nz-form-label>
            <nz-form-control [nzXs]="24">
              <input
                nz-input
                id="categoryId"
                type="text"
                placeholder="Category (required)"
                required
                minlength="3"
                [(ngModel)]="product.category"
                name="category"
                #categoryVar="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (categoryVar.touched ||
                      categoryVar.dirty ||
                      product.id !== 0) &&
                    !categoryVar.valid
                }"
              />
              <span class="invalid-feedback">
                <span *ngIf="categoryVar.errors?.['required']">
                  A category must be entered.
                </span>
                <span *ngIf="categoryVar.errors?.['minlength']">
                  The category must be at least 3 characters in length.
                </span>
              </span>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label for="tagsId">Search Tags</nz-form-label>
            <nz-form-control [nzXs]="24">
              <input
                nz-input
                id="tagsId"
                type="text"
                placeholder="Search keywords separated by commas"
                [(ngModel)]="newTags"
                name="tags"
              />
              <button
                nz-button
                nzType="primary"
                style="margin-left: 5px"
                type="button"
                title="Enter the search keywords separated by commas and then press Add"
                (click)="addTags()"
              >
                Add
              </button>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzXs]="24">
              <span *ngFor="let tag of product.tags; let i = index">
                <nz-tag
                  title="Click to remove this tag"
                  nzMode="closeable"
                  (nzOnClose)="removeTag(i)"
                >
                  {{ tag }}
                </nz-tag>
              </span>
            </nz-form-control>
          </nz-form-item>
        </fieldset>
      </form>
    </div>
  </nz-card>
</nz-space>
<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
