<!-- <span class="fa fa-spinner spinner"></span> -->



<!-- Main part of the menu-->
<div class="wrapper">
  <ul nz-menu nzMode="horizontal" nzTheme="dark">
    <li nz-menu-item>
      <a nz-menu-item>{{pageTitle}}</a>
    </li>
    <nz-divider nzType="vertical"></nz-divider>
    <li nz-menu-item>
      <a [routerLink]="['/welcome']"
         routerLinkActive="active">Home</a>
    </li>
    <nz-divider nzType="vertical"></nz-divider>
    <li nz-menu-item>
      <a [routerLink]="['/products']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact : true}">Product List</a>
    </li>
    <nz-divider nzType="vertical"></nz-divider>
    <li nz-menu-item>
      <a [routerLink]="['/products', 0, 'edit']"
         routerLinkActive="active">Add Product</a>
    </li>

    <nz-divider nzType="vertical"></nz-divider>
    <li nz-menu-item>
      <a>Hide Messages</a>
    </li>
    <nz-divider nzType="vertical" *ngIf="!isLoggedIn"></nz-divider>
    <li nz-menu-item
        *ngIf="!isLoggedIn">
      <a [routerLink]="['/login']">Log In</a>
    </li>
    <nz-divider nzType="vertical" *ngIf="isLoggedIn"></nz-divider>
    <li nz-menu-item
        *ngIf="isLoggedIn">
      <a [routerLink]="['/welcome']">Welcome {{ userName }}</a>
    </li>
    <nz-divider nzType="vertical" *ngIf="isLoggedIn"></nz-divider>
    <li nz-menu-item *ngIf="isLoggedIn">
      <a (click)="logOut()">Log Out</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
