/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body {
  background-color: #212529;
}

.card-body {
  color: #fcfbf4;
  background-color: #212529;
}


div.card {
  margin-top: 10px;
}

.table {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

nz-space {
  background-color: #212529;
}

[nz-button] {
  margin: 12px 8px;
}

[nz-input] {
  margin-bottom: 5px;
  color: black;
}

#userNameId{
  color: #fcfbf4;
}

#passwordId{
  color: #fcfbf4;
}

nz-form-label {
  min-width: 100px;
}

nz-form-item {
  min-width: 80px;
}
