<nz-space
  [nzDirection]="'vertical'"
  [nzAlign]="'center'"
  [nzWrap]="true"
  style="margin-left: 10px; margin-top: 5px"
  class="col-md-10"
>
  <nz-card *nzSpaceItem nzTitle="{{ pageTitle }}" style="min-width: 600px">
    <form
      novalidate
      nz-form
      [nzLayout]="'inline'"
      (ngSubmit)="login(loginForm)"
      #loginForm="ngForm"
      autocomplete="off"
    >
      <fieldset>
        <nz-form-item>
          <nz-form-label for="userNameId"> User Name </nz-form-label>
          <nz-form-control [nzXs]="24">
            <nz-input-group nzPrefixIcon="user">
              <input
                nz-input
                id="userNameId"
                type="text"
                placeholder="User Name (required)"
                required
                ngModel
                name="userName"
                #userNameVar="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (userNameVar.touched || userNameVar.dirty) &&
                    !userNameVar.valid
                }"
              />
              <span class="invalid-feedback">
                <span *ngIf="userNameVar.errors?.['required']">
                  User name is required.
                </span>
              </span>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label for="passwordId"> Password </nz-form-label>
          <nz-form-control [nzXs]="24">
            <nz-input-group nzPrefixIcon="lock">
              <input
                nz-input
                id="passwordId"
                type="password"
                placeholder="Password (required)"
                required
                ngModel
                name="password"
                #passwordVar="ngModel"
                [ngClass]="{
                  'is-invalid':
                    (passwordVar.touched || passwordVar.dirty) &&
                    !passwordVar.valid
                }"
              />
              <span class="invalid-feedback">
                <span *ngIf="passwordVar.errors?.['required']">
                  Password is required.
                </span>
              </span>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <br />
        <nz-form-item>
          <nz-form-control>
            <button
              nz-button
              nzType="primary"
              type="submit"
              [disabled]="!loginForm.valid"
            >
              Log In
            </button>
            <button nz-button nzDanger type="button" [routerLink]="['']">
              Cancel
            </button>
          </nz-form-control>
        </nz-form-item>
      </fieldset>
    </form>
  </nz-card>
  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
</nz-space>
